.fixed-form {
    position: fixed;
    top: 30; /* 画面上部からの距離 */
    left: 50%; /* 画面の中心に配置 */
    transform: translateX(-50%); /* 自身の幅の半分だけ左にずらす */
    z-index: 9999; /* 一般的には大きな値を設定して他の要素より前面にする */
}

header { visibility: visible; }
/*========= スクロール途中からヘッダーの高さが小さくなるためのCSS ===============*/
#header{
    /*はじめの高さを設定*/
	height: 170px;
	width:100%;
   /*以下はレイアウトのためのCSS*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#333;
	color:#fff;
	text-align: center;
	padding: 20px;
}

/*HeightMinというクラス名がついたら高さを小さく、上部固定に*/
#header.HeightMin{
	position: fixed;
    z-index: 999;/*最前面へ*/
	height:70px;
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 0;
	transform: translateY(-170px);
  }
  to {
  	opacity: 1;
	transform: translateY(0);
  }
}

/* 以下は検証用のレイアウトのための CSS*/
nav ul{
list-style: none;
display: flex;
justify-content: center;
}

nav ul li a{
text-decoration: none;
color: #666;
padding:10px;
}

section{
padding:300px 0;
}
