<!DOCTYPE html>
<html>
<head>
    <title>読み込み中</title>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "kbwgtmi4yf");
</script>
</head>
<body>
    処理中です <br>YUKIYOUTUBEの豆知識:検索の初めの１文字が全角英字の場合永遠に読み込めません
    <script>setTimeout(function(){location.reload();},1000);</script>
</body>
</html>
