<!DOCTYPE html>
<html>
<head>
    <title>Q&A</title>
</head>
<body>
    <h1>アンケートに書かれた質問の回答</h1><br>
    <li>Q:The media could not be loaded, either (略)と出てきたときはどうすればいいですか？<br>A:対処の手段はありません。使用上仕方ないものなのでしばらく待って確認してください</li>
    <li>Q:自分も作れますがもっと簡単に作る方法ありませんか？（yukiyoutube)<br>A:codesandboxを使用してください</li>
    <li>Q:どうしたら作れますか？<br>A:作り方は記載しています</li>
    <li>Q:サイトをみんなで教え合うところが欲しい<br>A:YUKIの範囲外です</li>
    <li>Q:ショート動画機能欲しいです。<br>A:見れるはずです</li>
    <li>Q:チャンネルごとでも次のページへ行けるようにしてほしいです<br>A:善処します</li>
    <li>Q:日本限定公開の動画が見ることができないのでできるようにしてもらえると助かります！<br>A:善処します(2回目)</li>
    <li>Q:ipadのsplit viewを使って見ると動画を見れない<br>A:Ver:1.8以下の改造版(旧バージョンのことです、もしかしたら見れないかも)もしくは改造されていないものを使用してください</li>
    <li>Q:ラグいから早めに開けるようにしてほしい<br>A:お使いの端末が原因の可能性があります</li>
    <li>Q:タブも開きたい<br>A:PCの場合はCTRL+Tでできます</li>
    <li>Q:サムネを見れるようにしてください<br>A:見れます</li>
    <li>Q:YouTube見れない<br>A:対処の手段はありません。使用上仕方ないものなので (略)</li>
    <li>Q:youtubeみたいに最初の画面におすすめ動画追加してください<br>A:やってみましたが無理でした</li>
    <li>Q:チャンネルからショート動画､ライブ配信のアーカイブを見られるようにしてほしい<br>A:見れるはずです(2回目)</li>
    <li>Q:chat<br>A:掲示板があります</li>
    
    
</body>
</html>
